body {
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh
}

#login-title {
    color: white;
    text-align: center;
    font-size: 62px;
}
.loginbox {
   display: flex;
   flex-direction: column;
   align-items: center;   
   gap: 10px;
   padding: 20px;
   width: 300px;
   margin: 0px;
   border-radius: 10px;
}
.loginbox input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(11, 41, 87);
}
