body {
    background-color: rgb(27, 26, 26);
}

#login-title {
    color: rgb(0, 89, 255);
    text-align: center;
}
.loginbox {
   background-color: rgb(185, 170, 173);
   display: flex;
   flex-direction: column;
   align-items: center;   
   gap: 10px;
   background-color: rgb(27, 26, 26);

}